<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
	
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Graduation project: A proposal for an internship at Valve</title>
	<link rel="shortcut icon" type="image/png" href="/images/favicon_steam.png">
	<meta name="description" content="This is a proposal for an intership at Valve for my graduation project." />
	<meta name="keywords" content="Valve, internship, graduation, netherlands, student, realtime, websockets, html5" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" media="screen" />
	<script type="text/javascript" src="/js/lib/prototype.js"></script>
	<script type="text/javascript" src="/js/lib/effects.js"></script>
	<script type="text/javascript" src="/js/lib/lowpro.js"></script>
	<script type="text/javascript" src="/js/lib/socket.io.js"></script>
	<script type="text/javascript" src="/js/classes/cursorBox.js"></script>
	<script type="text/javascript" src="/js/classes/vsocket.js"></script>
	<script type="text/javascript" src="/js/style.js"></script>
	<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-10539325-6']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
	</script>

	<!-- Yes, this is a hackable prototype. If you have any suggestions to make it better, just let me now! Thanks. -->

</head>
<body>
	<%- body %>
</body>
</html>