<body>
	<div class="container"><div class="another_container">
		<header><div class="to"></div><div class="header_txt">Hi, I'm David, a student at the Rotterdam University of Applied Science. I would love to become an intern at Valve and create some awesome stuff. <span class="mark">Support my plan by</span><br /> <span class="mark mark_position">donating your cursor.</span><div class="arrow"></div></div></header>
		<div class="content">
			<div class="placeholder">
				<div class="cursor"><div class="cursortxt">loading...</div></div>
				<div class="count"><span class="collected"><%= app.amount %></span> cursors collected *</div>
				<div class="sketch1"></div>
				<div class="why"><div class="why_txt">
					<p class="bold">* Why?</p>
					<p>For my graduation assignment, I'm doing research on the real-realtime web. So everything from JavaScript to websockets. Valve is a company that handles a lot of traffic and could generate some very cool statistics.</p>
					<p>But I think it's pretty hard to get in to Valve. So that's why I created this website, so you guys can support me. When you donate your cursor, you'll have to wait a couple of seconds. If a lot of people take this time and effort, I could prove to Valve that people are interested in this project.</p>
				</div></div>
			</div>
			<div class="sketch2"></div>
			<p>Here's what I would like to do, this is my plan:</p>
			<div class="float_left">
				<p>There's this page, called '<a href="http://store.steampowered.com/stats/" class="external">Stats</a>' on the Steam community site. It gives you a peek at the engine of Steam. But in my opinion, it could show far more information and give gamers much more insight in what they're doing.</p>
			</div>
			<div class="float_right"><img src="images/steam.png" alt="Steam" class="img" /></div>
			
			<p class="center"><img src="images/plus.png" class="img" alt="" /></p>
			<div class="relative">
				<div class="left"><img src="images/photo.png" alt="" /></div>
				<div class="right">
					<p>I have some cool ideas to make those Steam stats awesome: realtime game analytics with something personal to it. As a webdeveloper I have some experience with JavaScript and websockets as you can see. Oh, did I mention I'm a fanatic gamer as well? So I should definitely fit in. I love to learn new things and meet people. What else do you need as an intern?</p>
					<br />
					<p><a href="http://nl.linkedin.com/in/dvanleeuwen" class="external">Read more about me.</a></p>
				<div>
			</div>
			<p class="center"><img src="images/equals.png" alt="" class="img" /></p>
			<p class="center result">A new realtime Steam stats HTML5 web app that rocks <img src="images/exclamation_mark.png" alt="" class="exclamation" /></p>
		</div></div>
		</div>
		<footer>made by <a href="http://twitter.com/davidvanleeuwen" class="external">@davidvanleeuwen</a><br />PS: if you see some cursors, they're from other visitors on the site</footer>
	</div></div>
</body>
